.sliderFive {
  display: flex;

  width: 100vw;
  align-items: center;
  height: 80vh;
}
.sliderFive div {
  width: 30vw;
  height: 30vh;
  border: solid;
}
.slid1 {
  background-image: url(fotos/1.jpg);
  background-size: contain;
  animation-name: newSliderFour;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.slid2 {
  background-image: url(fotos/1.jpg);
  background-size: contain;
  animation-name: newSliderFour;
  animation-duration: 20s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}
.slid3 {
  background-image: url(fotos/1.jpg);
  background-size: contain;
  animation-name: newSliderFour;
  animation-duration: 20s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}
.right5 {
  width: 10vw;
  height: 10vh;
  order: 5;
}
.left5 {
  width: 10vw;
  height: 10vh;
}
.right5:hover ~ * {
  animation-play-state: running;
  animation-direction: normal;
}
.right5:hover,
.left5:hover {
  opacity: 50%;
}
.left5:hover ~ * {
  animation-play-state: running;
  animation-direction: reverse;
}

@keyframes newSliderFour {
  0% {
    background-image: url(fotos/2.jpg);
  }
  10% {
    background-image: url(fotos/3.jpg);
  }
  20% {
    background-image: url(fotos/4.jpg);
  }
  30% {
    background-image: url(fotos/5.jpg);
  }
  40% {
    background-image: url(fotos/6.jpg);
  }
  50% {
    background-image: url(fotos/7.jpg);
  }
  60% {
    background-image: url(fotos/8.jpg);
  }
  70% {
    background-image: url(fotos/9.jpg);
  }
  80% {
    background-image: url(fotos/1.jpg);
  }
  90% {
    background-image: url(fotos/2.jpg);
  }
}
