body {
  margin: 0;
}

.header {
  width: 80vw;
  height: 65vh;
  display: flex;
  margin: auto;
}

.header div {
  width: 30%;
  height: 100%;

  padding: 5px;
}
.sliderOne {
  background-image: url(fotos/3.jpg);
  background-size: 100% 100%;

  animation-name: sliderSecondA;
  animation-duration: 20s;
}
.sliderTwo {
  background-image: url(fotos/2.jpg);
  background-size: 100% 100%;
  animation-name: sliderSecondB;
  animation-duration: 20s;
}
.sliderThree {
  background-image: url(fotos/3.jpg);
  background-size: 100% 100%;
  animation-name: slider;
  animation-duration: 20s;
}
@keyframes sliderSecondA {
  0% {
    background-image: url(fotos/7.jpg);
  }
  20% {
    background-image: url(./fotos/4.jpg);
  }
  30% {
    background-image: url(fotos/3.jpg);
  }
  45% {
    background-image: url(fotos/2.jpg);
  }
  60% {
    background-image: url(fotos/1.jpg);
  }
  70% {
    background-image: url(fotos/6.jpg);
  }
  80% {
    background-image: url(fotos/8.jpg);
  }
  90% {
    background-image: url(fotos/7.jpg);
  }
  100% {
    background-image: url(fotos/6.jpg);
  }
}
@keyframes sliderSecondB {
  0% {
    background-image: url(fotos/5.jpg);
  }
  20% {
    background-image: url(./fotos/2.jpg);
  }
  30% {
    background-image: url(fotos/1.jpg);
  }
  45% {
    background-image: url(fotos/6.jpg);
  }
  60% {
    background-image: url(fotos/4.jpg);
  }
  70% {
    background-image: url(fotos/6.jpg);
  }
  80% {
    background-image: url(fotos/7.jpg);
  }
  90% {
    background-image: url(fotos/8.jpg);
  }
  100% {
    background-image: url(fotos/9.jpg);
  }
}
