body {
  margin: 0;
}

.header {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-between;
}

.header div {
  width: 30%;
  height: 100%;

  border: solid;
  padding: 5px;
}
.sliderOne {
  background-image: url(fotos/1.jpg);
  background-size: 100% 100%;

  animation-name: slider;
  animation-duration: 20s;
}
.sliderTwo {
  background-image: url(fotos/2.jpg);
  background-size: 100% 100%;
  animation-name: slider;
  animation-duration: 20s;
}
.sliderThree {
  background-image: url(fotos/3.jpg);
  background-size: 100% 100%;
  animation-name: slider;
  animation-duration: 20s;
}
